.project-card-overlay {
  background-color: white;
  position: relative;
  z-index: 1;
}

.project-card-overlay::after {
  background-color: rgb(215, 229, 255);
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  border-radius: var(--radius-lg) /* 0.5rem = 8px */;

  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease, width 0.3s ease-in;
  z-index: -1; /* ADD THIS LINE - puts overlay behind content */
}

.project-card-overlay:hover::after {
  opacity: 0.4;
  width: 100%;
}
